<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head') %>
</head>
<body>

    <%- include('./partials/nav') %>
    <div class="container container w-75 mt-5">
    <h2>URL Shortener</h2>

    <form action="/url" method="post">
        Enter Original URL:
        <input type="text" name="url" placeholder="https://www.google.com" />
        <% if (locals.user) { %>
            <button class="btn btn-success btn-sm" type="submit" value="Generate"> Generate</button>
        <% } %>
        <% if (!locals.user) { %>
            <a href="/login"><input type="button" value="Generate" onclick="alert('Login First')"/></a>
        <% } %>
    </form>

    <% if (locals.id) { %>  // id: shortId
        <p>
            Short URL:
            <a href="http://localhost:3001/url/<%= id %>" target="_blank">
                http://localhost:3001/url/<%= id %>
            </a>
        </p>
        <% } %>
        <% if (locals.id || locals.user) { %>
            <div>
                <br />
                <h2>All URLs</h2>
                <table>
                    <thead>
                        <th>S. No.</th>
                        <th>Short-URL</th>
                        <th>Redirect-URL</th>
                        <th>Clicks</th>
                        <% if (locals.isAdmin) { %>
                            <th>User</th>
                            <th>Role</th>
                            <% } %>
                    </thead>
                    <tbody>
                        <% if(locals.urls) {%>
                            <% urls.forEach((url, index)=> { %>
                                <tr>
                                    <td>
                                        <%= index + 1 %>
                                    </td>
                                    <td>
                                        <%= url.shortId %>
                                    </td>
                                    <td>
                                        <%= url.redirectUrl %>
                                    </td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                    <% if (locals.isAdmin) { %>
                                        <% if(locals.users) {%>
                                            <% locals.users.forEach((user, index)=> { %> <%
                                                if(user._id.equals(url.createdBy)) {%>
                                                    <td>
                                                        <%= user.name.split(' ')[0] %></td>
                                                    <td><%= user.role %></td>
                                                <% } %>
                                            <% } )%>
                                        <% } %>
                                    <% } %>
                                </tr>
                            <% }) %> 
                        <% } %>
                    </tbody>
                </table>
            </div>
        <% } %>
    </div>

        <%- include('./partials/footer') %>
    <%- include('./partials/scripts') %>        
</body>

</html>