<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <!-- Track your short URLs-->
    <div
      class="flex flex-col items-center justify-center min-h-screen bg-gray-900 p-5 mt-8"
    >
      <div class="text-white font-extrabold text-5xl mt-5">
        Track your short URLs
      </div>
      <div class="w-auto max-w-12 mt-5 mb-10">
        <span class="text-gray-300 text-lg">
          Enter the URL to check the number of clicks it has received so far.
        </span>
      </div>

      <div class="w-full max-w-2xl bg-gray-200 rounded-lg p-5">
        <div class="flex">
          <input
            type="text"
            name="url"
            id="url"
            class="w-full bg-white pl-2 text-base font-semibold outline-none"
            placeholder="Enter Your Short Link Here"
          />
          <% if (locals.user) { %>
          <button
            type="submit"
            value="View Analytics"
            onclick="display()"
            class="bg-pink-700 p-2 w-40 rounded-tr-lg rounded-br-lg text-white font-semibold hover:bg-pink-500 transition-colors"
          >
            View Analytics
          </button>
          <% } %> <% if (!locals.user) { %>
          <a href="/login">
            <button
              type="button"
              value="View Analytics"
              onclick="alert('Login First')"
              class="bg-pink-700 p-2 w-40 rounded-tr-lg rounded-br-lg text-white font-semibold hover:bg-pink-500 transition-colors"
            >
              View Analytics
            </button>
          </a>
          <% } %>
        </div>
      </div>

      <a
        href="/"
        class="text-pink-600 font-semibold text-lg mt-5 hover:text-pink-400 transition-colors"
      >
        Short another URL
      </a>

      <script>
        function display() {
          console.log("displaying stats");
          var url = document.getElementsByName("url")[0].value;
          console.log(url);
          window.location.href = "/url/analytics/" + url;
        }
      </script>

      <div class="text-white text-xl mt-12">
        <% if (locals.id) { %>
        <pre>Short ID: <span class="text-pink-300"> <%= locals.id %> </span></pre>
        <pre>Total Clicks:<span class="text-pink-300"> <%= locals.totalClicks %></span></pre>
        <pre>Last click: <span class="text-pink-300"><%= locals.lastVisitHistory %></span></pre>
        <% } %>
      </div>
    </div>

    <%- include('./partials/footer') %> <%- include('./partials/scripts') %>
  </body>
</html>
